<div class="panel-heading" style="text-align: center; margin-top: 30px">
  <h3 class="panel-title">
    nAItingale
  </h3>
</div>

<div style="margin: 30px auto 30px auto; width: 800px; background: #F7F7F7; padding: 30px; border-radius: 10px">
  <div class="panel" id="chat">
    <div class="panel-body">
      <div class="chats">
        <div class="chat-window">
          <div *ngFor="let message of messages" class="message">
            <div [ngClass]="message.sender === senderEnum.BOT ? 'bot-message' : 'user-message'">
              {{ message.content }}
            </div>
            <div *ngIf="message.sender === senderEnum.BOT && message.responseType === 'options'">
              <button *ngFor="let option of message.responses" (click)="onUserResponse(message.id, option)" type="button" class="btn btn-secondary" style="margin: 6px">
                {{ option.text }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="panel-footer">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Say something">
          <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Send</button>
          </span>
        </div>
      </form>
    </div>
  </div>
</div>
